* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: oklch(0 0 0);
    block-size: 100dvh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: oklch(0.9 0 0);
}

.wrapper {
    block-size: 100dvh;
    inline-size: 100%;
    display: grid;
    place-items: center;
}

canvas {
    block-size: 100dvh;
    inline-size: 100%;
    margin: auto;
}

.controls {
    position: absolute;
    inset-inline-end: 0;
}

output {
    position: absolute;
    display: grid;
    place-items: center;
    inset-block-end: 0;
    background-color: oklch(0.2 0 0 / 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    inline-size: 100%;
    block-size: 100px;
    color: oklch(0.9 0 0);
    font-size: 1rem;
}

button,
input[type="file"],
a {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: oklch(0.9 0 0);
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    border-radius: 30px;
    background-color: oklch(0.3 0.1 250deg);
    transition: color 0.3s ease;
}


button:hover,
input[type="file"]:hover,
a:hover {
    background-color: oklch(0.3 0.2 250deg);
}

button:active,
a:active {
    background-color: oklch(0.4 0.3 250deg);
}

button:disabled {
    background-color: oklch(0.3 0 250deg);
    cursor: not-allowed;
}

.uploads {
    max-inline-size: 800px;
    padding-block: 100px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigate {
    position: absolute;
}

.files {
    display: block;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.file {
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: oklch(0.2 0.3 170deg);
}